.about {
  padding: 120px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
}

.about__text {
  flex: 1;
}

.about__title {
  color: var(--font-white);
  font-weight: 400;
  font-size: 48px;
  line-height: 52px;
}

.about__description {
  margin-top: 40px;
  color: var(--font-lightwhite);
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
}

@media (max-width: 1024px) {
  .about {
    padding: 40px 12px 120px;
    display: flex;
    flex-direction: column;
  }

  .about__title {
    font-size: 36px;
    line-height: 110%;
  }
}
