.wrapper {
  padding: 80px 0 54px;
}

.widget {
  max-width: 620px;
  padding: 20px;
  background-color: #cfd3d6;
  position: relative;
  overflow: hidden;
}

._disabled {
  pointer-events: none;
}

.addings {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 40px 0 40px;
  }

  .widget {
    max-width: 100%;
  }
}
