.tooltip {
  position: fixed;
  width: 100%;
  top: -120px;
  left: 0;
  display: grid;
  place-items: center;
  transition: var(--transition);
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 20px;
  background-color: #ffffff;
  border: 0.5px solid #e6e6e6;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  max-width: 620px;
  width: calc(100% - 20px);
}

.content {
  width: 100%;
}

.title {
  font-weight: 400;
  font-size: 12px;
}

.text {
  font-size: 12px;
}

.close_btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  transition: var(--transition);
  opacity: 0.7;
  display: grid;
  place-items: center;
}

.close_btn:hover {
  opacity: 1;
}

._visible {
  top: 20px;
}
